@keyframes twinkle {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 8; }
}

.twinkle {
  animation: twinkle 3s infinite ease-in-out;
}

/* global.css or component CSS */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
